/*Document*/

* {
  box-sizing: border-box;

}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}


/*Header*/

.header-wrap {
  width: 100%;
  margin: 0px auto;
  height: 4.45rem;
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  padding-left: 20rem;
  padding-right: 20rem;
}

.nav-wrap,
.nav-link-wrap,
.header-wrap {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  height: 39px;
  width: auto;
}

.nav-link-wrap li {
  list-style: none;
  padding-left: 32px;
  color: #838994;
  font-weight: 400;
}

.nav-link-wrap li.active {
  color: #4c5058;
  font-weight: 500;
}

.nav-wrap li:hover {
  cursor: pointer;
  color: #333333;
}

/*Main Image*/

.main-image {
  background: url("../assets/first-background copy.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 45rem;
  text-align: center;
  color: #ffffff;
}

.main-image h1 {
  margin: 0;
  font-size: 3.125rem;
  padding-top: 18rem;
  font-weight: 300;
}

.main-image h3 {
  margin: 0;
  font-weight: 300;
  font-size: 1.563em;
  padding: .65em 0 .85em 0;
}

#learn-button {
  background-color: #f15a29;
  border-color: #f15a29;
  width: 9.688rem;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  color: white;
}

#learn-button:hover {
  background-color: darkorange; 
  cursor: pointer;
}

/*Main Content*/

.main-content {
  width: 60%;
  margin: 0 auto;
  padding-top: 5rem;
}

.main-content h1 {
  text-align: center;
  font-weight: 300;
  font-size: 2.75rem;
}

.main-content-columns {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.main-content-columns h3 {
  text-align: center;
  padding-top: 9rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.internet,
.productivity,
.pay {
  width: 30%;
  height: 8rem;
}

.internet {
  background: url("../assets/icon-devices copy.svg") no-repeat center;
}

.productivity {
  background: url("../assets/icon-coffee copy.svg") no-repeat center;
}

.pay {
  background: url("../assets/icon-refill copy.svg") no-repeat center;
}

/*Footer*/

footer {
  width: 60%;
  border-top: 1px solid #eaebec;
  padding-top: 1rem;
  margin: 0 auto;
  margin-top: 12rem;
  text-align: center;
  margin-bottom: 12rem;
}

.social-networks {
  display: flex;
  width: 20%;
  margin: 0 auto;
  justify-content: center;
}

.icon {
  border: 1px solid #eaebec;
  margin: .5rem;
  padding: 1rem;
  border-radius: 50%
}

#copyright {
  color: #838994;
  font-weight: 300;
}