/*Document*/

* {
  box-sizing: border-box;

}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.clearfix {
  overflow: auto;
}


/*Header*/

.header-wrap {
  width: 58.3%;
  margin: 5px auto;
  height: 3.75rem;
}

.nav-wrap,
.nav-link-wrap,
.header-wrap {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
  height: 39px;
  width: auto;
}

.nav-link-wrap li {
  list-style: none;
  padding-left: 32px;
  color: #838994;
  font-weight: 400;
}

.nav-link-wrap li.active {
  color: #4c5058;
  font-weight: 500;
}

.nav-wrap li:hover {
  cursor: pointer;
  color: #333333;
}

/*Main Image*/

.main-image {
  background: url("../assets/first-background copy.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 40rem;
  text-align: center;
  color: #ffffff;
}

.main-image h1 {
  margin: 0;
  font-size: 3.125rem;
  padding-top: 11rem;
  font-weight: 300;
}

.main-image h3 {
  margin: 0;
  font-weight: 300;
  font-size: 1.563em;
  padding: .65em 0 .85em 0;
}

#learn-button {
  background-color: #f15a29;
  border-color: #f15a29;
  width: 9.688rem;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  color: white;
}